@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-seriff;
}

.home, 
.services, 
.contactus,
.next-steps,
.team,
.your-investment {
  /*display: flex;*/
  /*height: 90vh;*/
  /*align-items: center;*/
  min-height: 100vh; /* To create height to prevent footer going up when there is no page content */
  width: 80%;
  margin-top: 60px;
  margin-left: 290px;
  /*justify-content: flex-end;*/
  /*font-size: 3rem; This is responsible*/
}

/*
###########
 Normalize banner image
##########
*/
.banner-image {
  height: auto;
  width: 100%;
}

.jumbotron {
  position: fixed;
  width: 100%;
  margin-bottom: 285px;
  z-index: 9999;
  /*margin: 0;*/
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
  text-align: center;
  font-size: 20px;
}

.jumbotron .container button {
  text-align: right;
  }

.jumbotron h2 {
  color: #CEC8FF;
}

/* .fa-phone {
  
    margin-top:90%; 
    left:10px;
    font-size:15px;
    color:#fff;
} */

.jumbotron a{
  color: white;
}

/* .header-signin {

  width: auto !important;
} */